@import "../../utilities/theme";
@use "sass:map";

.Directors {

  .directorCard {
    background-color: map-get($map: $theme-colors, $key: 'primaryAlt');
    padding-bottom: 1rem;
    text-align: center;

    img {
      width: calc(min(300px, calc(95vw - 5rem)));
      height: auto;
    }
  }

  .carouselButton {
    width: 4rem;
  }
}
