@import "../../utilities/theme";
@use "sass:map";

.Directors {

  .directorCard {
    background-color: map-get($map: $theme-colors, $key: 'primary');
    padding-bottom: 1rem;
    text-align: center;

    img {
      width: calc(min(300px, calc(95vw - 5rem)));
      height: calc(min(300px, calc(95vw - 5rem)));
      object-fit: contain;
      object-position: center;
    }

    .directorPosition {
      color: map-get($map: $theme-colors, $key: "accent2")
    }
  }

  .carouselButton {
    width: 4rem;
    position: relative;
    z-index: 10;
  }
}
