@import "../../utilities/theme";
@use "sass:map";

.PageDisplay {
  height: 700px;

  @media only screen and (max-width: 992px) {
    height: auto;
  }

  .row {
    perspective: 1800px;
    height: 100%;
    align-items: center;

    @media only screen and (max-width: 992px) {
      perspective: none;
      flex-direction: column;
    }
  }

  .page-display-content {
    width: 100%;

    @media only screen and (max-width: 992px) {
      max-width: 100%;
    }

    .page-display-list {
      max-height: 324px;
      overflow-y: auto;
    }
  }

  .page-display-grid-container {
    position: relative;
    margin-left: auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin-right: 2rem;
    margin-left: 2rem;
    transform: rotateY(24deg) rotateX(16deg);

    .page-display-collage {
      background-color: red;
      height: 20px;
      width: 20px;
      margin: 2px;
    }

    svg {
      transform: scale(-1, 1);
    }

    @media only screen and (max-width: 992px) {
      display: none;
    }
  }

  .ListCard {

    padding: 0 2rem 0 1rem;
    background-color: map-get($map: $theme-colors, $key: "accent1");
    margin-bottom: 1rem;

    .listcard-link {
      color: map-get($map: $theme-colors, $key: "primary");
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    svg {
      margin-left: auto;
      height: 1.2rem;
    }

    h4 {
      color: map-get($map: $theme-colors, $key: "primary");
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media only screen and (max-width: 992px) {
      max-width: 468px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
