@import "../../utilities/theme";
@use "sass:map";

.Footer {
  height: 300px;
  background: map-get($map: $theme-colors, $key: "primaryAlt");
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
