@import "../../utilities/theme";
@use "sass:map";

.Footer {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 1rem;

  .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .Button {
    height: 100px;
    width: 100px;
    margin: 2rem;

    .button-icon {
      fill: white !important;
      width: 60px;
      height: 60px;
      margin-top: 1rem;
    }
  }
}

#mail-button {
  svg {
    fill: map-get($map: $theme-colors, $key: accent4);
  }

  &:hover {
    svg {
      fill: map-get($map: $theme-colors, $key: accent4Alt);
    }
  }
}

#instagram-button {
  svg {
    fill: map-get($map: $theme-colors, $key: accent2);
  }

  &:hover {
    svg {
      fill: map-get($map: $theme-colors, $key: accent2Alt);
    }
  }
}

#linkedin-button {
  svg {
    fill: map-get($map: $theme-colors, $key: secondary);
  }

  &:hover {
    svg {
      fill: map-get($map: $theme-colors, $key: secondaryAlt);
    }
  }
}

