@import "./utilities/theme";
@use "sass:map";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/BackgroundFrame-01.svg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  // background-color: map-get($map: $theme-colors, $key: "primary");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: map-get($map: $theme-colors, $key: "secondary");
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

div,
p {
  color: map-get($map: $theme-colors, $key: "secondary");
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

strong {
  color: map-get($map: $theme-colors, $key: "accent2");
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  color: map-get($map: $theme-colors, $key: "accent2");
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.row {
  display: flex;
  flex-direction: row;
}

.container {
  padding: 1rem;
}

.dropshadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.App-Content {
  background-color: rgba(255,255,255,0.75);
}

.App-Sections {
  width: 90%;
  max-width: 1600px;
  margin: 0px auto;
}
