@import "./utilities/theme";
@use "sass:map";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: map-get($map: $theme-colors, $key: "primary");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: map-get($map: $theme-colors, $key: "secondary");
  font-family: futura-pt, sans-serif;
}

div, p {
  color: map-get($map: $theme-colors, $key: "secondary");
  font-family: myriad-pro, sans-serif;
}

strong, a {
  color: map-get($map: $theme-colors, $key: "accent2");
  font-family: myriad-pro, sans-serif;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.row {
  display: flex;
  flex-direction: row;
}

.container {
  padding: 1rem;
}

.dropshadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.App-Content {
  width: 90%;
  max-width: 1600px;
  margin: 0px auto;
}