@import "../../utilities/theme";
@use "sass:map";

.Landing {
  text-align: center;
}

.Landing-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Landing-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Landing-header {
  background-color: map-get($map: $theme-colors, $key: "primary");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Landing-link {
  color: map-get($map: $theme-colors, $key: "secondary");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
