.About {

  .row {
    perspective: 1800px;
  }

  .about-text {
    width: 100%;
    max-width: 900px;
  }

  .about-video-container {
    margin-left: auto;
    width: 100%;
    max-width: 500px;
    max-height: 281.25px;
    margin-right: 2rem;
    transform: rotateY(-15deg) rotateX(10deg);
  }

  .about-video {
    width: 100%;
    height: 100%;
  }
}