@import "../../utilities/theme";
@use "sass:map";

.Accordion {
  width: 500px;
  padding: 1rem;

  .accordion-header {
    width: 100%;
    border-radius: 2px;

    h4 {
      color: map-get($map: $theme-colors, $key: "primary")
    }
  }

  section {
    overflow-y: hidden;
    background-color: map-get($map: $theme-colors, $key: "primary");
  }

  .Accordion-body {
    padding: 1rem;
  }
}
