@import "../../utilities/theme";
@use "sass:map";

.Schedule {

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th {
      width: 20%;
      padding: 0.5rem;
      overflow-x: hidden;
    }

    tr {
      &:nth-child(odd) {
        background-color: map-get($map: $theme-colors, $key: "primary");
      }

      &:first-child {
        background-color: map-get($map: $theme-colors, $key: "accent1");
        color: map-get($map: $theme-colors, $key: "primary");
      }
    }

    td {
      padding: 0.5rem;
      overflow-x: hidden;
      &:last-child {
        text-overflow: ellipsis;
      }
    }
  }
}
